<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laboratorio 4 - Paradigmas de Programaci&oacute;n {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% block extra_stylesheets %}{% endblock %}
</head>

<body>
    {% block body %}
    <div class="main-masthead">
        <div class="container">
            <nav class="main-nav">
                <a class="main-nav-item active" href="{{ url_for('index') }}">Home</a>
                <a class="main-nav-item" href="{{ url_for('logout') }}">Log Out</a>
            </nav>
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>

</html>